.Toolbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #66c2a5;
    padding: 0 20px;
    margin-bottom: 30px;
}

.AppName {
    color: white;
    font-size: 1.1em;
}

@media (max-width: 500px) {
    .Toolbar {
        height: 70px;
        width: 500px;
        display: flex;
        align-items: center;
        background-color: #66c2a5;
        padding: 0 20px;
        margin-bottom: 20px;
    } 
    .AppName {
        font-size: 1.3em;
    }
}